body {
    /* Define a grid with rows for a banner and a body */
    height: 100%;
    width: 100%;
    margin-left: 120px;
}

    body header[role=banner] {
        /* Define a grid with columns for the back button and page title. */
        
        margin-top: 37px;
        width: calc(100% - 20px);
        margin-bottom: 40px;
    }

article {

}
article label {
    margin-right: 10px;
}

article section {
    margin-bottom: 10px;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
